Django==4.1.6
gunicorn==20.1.0
django-crispy-forms==1.12.0
psycopg2==2.8.6
Pillow==9.1.0
psycopg2-binary==2.9.1
django-taggit==3.0.0
django-static-fontawesome==5.14.0.0
django-social-share==2.2.1
django-environ==0.9.0
django-dotenv==1.4.2
django-debug-toolbar==2.2
django-ckeditor5==0.1.6
django-ckeditor==6.0.0